/*-----------------------------------------------------------------------------------
Template Name: WorkGuru,
Template URI: http://www.prikshat.com
Description: This is html5 template
Author: Themectg
Author URI: http://www.prikshat.com
Version: 1.0
-----------------------------------------------------------------------------------
CSS INDEX
===================
1. Google font
2. Theme Default CSS
3. Helper-class
4. Button-style
5. Mainmenu-area
6. Section-Background
7. Header-style
8. Headline-style
9. Skills-area
10. Service-area
11. Work-area
12. Team-area
13. Bar-effect-css
14. Masp style
15. Form-style
16. Scroll-To-Top-Button
17. Preloader-css
-----------------------------------------------------------------------------------*/
/*-----------------
1. Google font
------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/*-------------------
2. Theme Default CSS
--------------------*/
/* line 40, ../sass/_theme_original.scss */
a {
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #333333;
}

/* line 48, ../sass/_theme_original.scss */
input:focus,
button:focus,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: #000000;
}

/* line 57, ../sass/_theme_original.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 62, ../sass/_theme_original.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

/* line 72, ../sass/_theme_original.scss */
html,
body {
  height: 100%;
}

/* line 77, ../sass/_theme_original.scss */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  /* [disabled]font-size: 15px; */
  line-height: 1.8;
  color: #22103d;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
/* line 88, ../sass/_theme_original.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/**
*Helper-Classes
**/
/* line 98, ../sass/_theme_original.scss */
.full-height {
  width: 100%;
  height: 100vh;
}

/* line 103, ../sass/_theme_original.scss */
.relative {
  position: relative;
}

/* line 107, ../sass/_theme_original.scss */
.fixed,
.absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* line 116, ../sass/_theme_original.scss */
.fixed {
  position: fixed;
}

/* line 120, ../sass/_theme_original.scss */
.v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 133, ../sass/_theme_original.scss */
.section-padding {
  padding: 120px 0 80px 0;
}

/* line 137, ../sass/_theme_original.scss */
.social-menu {
  list-style: none;
  margin: 0;
  padding: 10px;
}

/* line 143, ../sass/_theme_original.scss */
.social-menu li {
  display: inline-block;
  margin: 0 3px;
}

/* line 148, ../sass/_theme_original.scss */
.social-menu li a {
  display: block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 2.5em;
  background-color: #ffffff;
  color: #368649;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

/* line 162, ../sass/_theme_original.scss */
.social-menu li a:hover {
  background-color: #368649;
  color: #ffffff;
  -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}

/**
*Default Background Class
**/
/* line 173, ../sass/_theme_original.scss */
.overlay:before,
.sky-bg {
  background: #75cbe7;
  background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#368649));
  background: linear-gradient(to bottom, #75cbe7 0%, #368649 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#368649', GradientType=0);
  color: #ffffff;
}

/* line 182, ../sass/_theme_original.scss */
.white-bg {
  background-color: #ffffff;
}

/* line 185, ../sass/_theme_original.scss */
.gray-bg {
  background-color: #f8f8f8;
}

/* line 189, ../sass/_theme_original.scss */
.dark-bg {
  background-color: #323237;
  color: #ffffff;
  padding: 50px 0px;
}

/**
*Default Button
**/
/* line 201, ../sass/_theme_original.scss */
.button {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #368649;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  -webkit-box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
}

/* line 214, ../sass/_theme_original.scss */
.button.white,
.button:hover {
  background-color: #ffffff;
  color: #368649;
}

/* line 220, ../sass/_theme_original.scss */
.button.white:hover {
  background-color: #368649;
  color: #ffffff;
}

/* line 225, ../sass/_theme_original.scss */
.button i {
  margin-left: 5px;
}

/**
*Page title
**/
/* line 233, ../sass/_theme_original.scss */
.page-title {
  margin-bottom: 60px;
}

/* line 237, ../sass/_theme_original.scss */
.page-title h2 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* line 244, ../sass/_theme_original.scss */
.page-title h2:after {
  content: "\e675";
  font-family: 'themify';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -10px;
  width: 15px;
  height: 15px;
  font-size: 14px;
}

/**
*Box-style
**/
/* line 261, ../sass/_theme_original.scss */
.box {
  padding: 50px 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 0 0 #ffffff;
  box-shadow: 0 0 0 0 #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 273, ../sass/_theme_original.scss */
.box:hover {
  -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* line 282, ../sass/_theme_original.scss */
.box h4 {
  text-transform: uppercase;
}

/* line 286, ../sass/_theme_original.scss */
.box .box-icon {
  height: 160px;
  margin-bottom: 20px;
}

/* line 291, ../sass/_theme_original.scss */
.box .box-icon img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 298, ../sass/_theme_original.scss */
.box:hover .box-icon img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/**
*Mainmenu-area
**/
/* line 307, ../sass/_theme_original.scss */
.mainmenu-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 317, ../sass/_theme_original.scss */
.overlay,
.overlay a,
.mainmenu-area a {
  color: #22103d;
}

/* line 323, ../sass/_theme_original.scss */
.mainmenu-area .logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  height: inherit;
  padding-left: 0;
}

/* line 330, ../sass/_theme_original.scss */
.mainmenu-area .logo h2 {
  margin-bottom: 0;
}

/* line 334, ../sass/_theme_original.scss */
.mainmenu-area #primary-menu > ul > li > a {
  background: none;
  padding: 30px 15px;
  position: relative;
  border-top: 3px solid transparent;
  text-align: center;
}

/* line 342, ../sass/_theme_original.scss */
.mainmenu-area #primary-menu > ul > li > a:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -10px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #368649;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 359, ../sass/_theme_original.scss */
.mainmenu-area #primary-menu > ul > li > a:hover:before,
.mainmenu-area #primary-menu > ul > li.active > a:before {
  opacity: 1;
  top: 0;
}

/* line 365, ../sass/_theme_original.scss */
.mainmenu-area #primary-menu ul li.active a,
.mainmenu-area #primary-menu ul li a:hover {
  border-top: 3px solid #368649;
}

/* line 370, ../sass/_theme_original.scss */
.mainmenu-area.affix {
  background-color: #f2f2f2;
}

/**
*Header-area
**/
/* line 380, ../sass/_theme_original.scss */
.client-area,
.header-area {
  background: url("../images/parallax-2.jpg") no-repeat scroll center center/cover;
}

/* line 385, ../sass/_theme_original.scss */
.overlay {
  position: relative;
}

/* line 389, ../sass/_theme_original.scss */
.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

/* line 399, ../sass/_theme_original.scss */
.header-text h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

/* line 404, ../sass/_theme_original.scss */
.header-text .button {
  margin-top: 30px;
}

/* line 408, ../sass/_theme_original.scss */
.screen-slider .item {
  background: url("../images/mobile2.png") no-repeat scroll center center/auto 100%;
  padding: 56px 22px;
  display: inline-block;
  margin: auto;
}

/* line 415, ../sass/_theme_original.scss */
.screen-slider.owl-carousel .owl-item {
  text-align: center;
}

/* line 419, ../sass/_theme_original.scss */
.screen-slider .owl-controls {
  position: absolute;
  left: 0;
  top: 100%;
}

/* line 425, ../sass/_theme_original.scss */
.screen-slider .owl-controls .owl-nav > div {
  display: inline-block;
  margin: 0 15px;
  font-size: 20px;
  text-align: center;
  position: relative;
}

/* line 433, ../sass/_theme_original.scss */
.screen-slider .owl-controls .owl-nav {
  position: relative;
  margin-top: 0;
}

/* line 438, ../sass/_theme_original.scss */
.screen-slider .owl-controls .owl-nav:after {
  content: "/";
  position: absolute;
  left: 50%;
  top: 12px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/**
*Caption-slider
**/
/* line 451, ../sass/_theme_original.scss */
.caption-slider .carousel-indicators {
  position: static;
  margin: 30px auto 0 auto;
  padding: 0;
  border-top: 1px solid rgba(34, 16, 61, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 464, ../sass/_theme_original.scss */
.caption-slider .carousel-indicators li {
  float: left;
  padding-top: 20px;
  padding-right: 30px;
  cursor: pointer;
  position: relative;
  list-style: none;
}

/* line 473, ../sass/_theme_original.scss */
.caption-slider .carousel-indicators li:before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 100%;
  height: 3px;
  background-color: #22103d;
  opacity: 0;
}

/* line 485, ../sass/_theme_original.scss */
.caption-slider .carousel-indicators li.active:before {
  opacity: 1;
}

/* line 489, ../sass/_theme_original.scss */
.caption-slider .carousel-indicators li strong {
  display: block;
}

/* line 493, ../sass/_theme_original.scss */
.caption-slider h2, .mm_tite {
  margin-bottom: 40px;
  font-size: 40px;
}

/* line 498, ../sass/_theme_original.scss */
.mm_title {
  margin-bottom: 10px;
  font-size: 40px;
}

/* line 503, ../sass/_theme_original.scss */
.caption-slider .button {
  margin-top: 30px;
}

/* line 507, ../sass/_theme_original.scss */
.caption-slider .caption-photo {
  display: inline-block;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

/* line 513, ../sass/_theme_original.scss */
.caption-slider .caption-photo.two {
  margin-top: 60px;
}

/* line 517, ../sass/_theme_original.scss */
.caption-slider .caption-title {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

/* line 522, ../sass/_theme_original.scss */
.caption-slider .caption-desc {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* line 527, ../sass/_theme_original.scss */
.caption-slider .caption-button {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/* line 532, ../sass/_theme_original.scss */
.caption-slider .caption-photo.one {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 537, ../sass/_theme_original.scss */
.caption-slider .caption-photo.two {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/***
*Team-Section
***/
/* line 547, ../sass/_theme_original.scss */
.single-team {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  color: #515656;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 562, ../sass/_theme_original.scss */
.single-team:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* line 567, ../sass/_theme_original.scss */
.single-team .team-photo {
  margin-bottom: 20px;
  padding-top: 20px;
  overflow: hidden;
}

/* line 573, ../sass/_theme_original.scss */
.single-team .team-photo img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 580, ../sass/_theme_original.scss */
.single-team:hover .team-photo img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 585, ../sass/_theme_original.scss */
.single-team h4 {
  text-transform: uppercase;
}

/* line 589, ../sass/_theme_original.scss */
.single-team h6 {
  margin-bottom: 20px;
}

/* line 593, ../sass/_theme_original.scss */
.single-team .social-menu {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: -80px;
  left: 0;
  width: 100%;
  padding: 23px 10px;
  background-color: #ffffff;
}

/* line 604, ../sass/_theme_original.scss */
.single-team:hover .social-menu {
  bottom: 0;
}

/***
*Testimonial-Page
***/
/* line 612, ../sass/_theme_original.scss */
.testimonial-area {
  background: url("../images/parallax-7.jpg") no-repeat scroll center center/cover;
  position: relative;
  color: #ffffff;
}

/* line 618, ../sass/_theme_original.scss */
.testimonial-area:before {
  opacity: 0.9;
}

/* line 622, ../sass/_theme_original.scss */
.testimonial {
  /*  text-align: center ;*/
}

/* line 626, ../sass/_theme_original.scss */
.testimonial .testimonial-photo {
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 10px 30px -10px rgba(255, 255, 255, 0.5);
  box-shadow: 5px 10px 30px -10px rgba(255, 255, 255, 0.5);
  position: relative;
}

/* line 636, ../sass/_theme_original.scss */
.testimonial .testimonial-photo:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
}

/* line 647, ../sass/_theme_original.scss */
.testimonials.owl-carousel .owl-controls .owl-nav {
  text-align: center;
}

/***
*Price-area
***/
/* line 656, ../sass/_theme_original.scss */
.price-area {
  background: url("../images/parallax-6.jpg") no-repeat scroll center center/cover;
}

/* line 660, ../sass/_theme_original.scss */
.footer-area {
  background: url("../images/footer.jpg") no-repeat scroll center center/cover;
}

/* line 665, ../sass/_theme_original.scss */
.price-table h3 {
  margin-bottom: 30px;
}

/* line 669, ../sass/_theme_original.scss */
.price-table {
  padding: 50px 40px;
  border-radius: 2px;
  text-align: center;
  background-color: #ffffff;
  color: #515656;
  position: relative;
  margin-top: 20px;
}

/* line 679, ../sass/_theme_original.scss */
.price-table.active {
  padding: 70px 40px;
  margin-top: 0;
}

/* line 684, ../sass/_theme_original.scss */
.price-table ul {
  margin: 30px 0;
  padding: 0;
  list-style: none;
}

/* line 690, ../sass/_theme_original.scss */
.price-table ul li {
  padding: 5px 0;
}

/* line 694, ../sass/_theme_original.scss */
.price-table .price-info {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #55A2BE;
  color: #ffffff;
  border-radius: 0 0 50% 50%;
  padding-bottom: 5px;
}

/**
*Accordion
**/
/* line 711, ../sass/_theme_original.scss */
#accordion .panel {
  background: none;
}

/* line 715, ../sass/_theme_original.scss */
#accordion .panel .panel-title {
  padding: 30px 0 30px 60px;
  position: relative;
}

/* line 720, ../sass/_theme_original.scss */
#accordion .panel .panel-collapse {
  padding-left: 60px;
}

/* line 724, ../sass/_theme_original.scss */
#accordion .panel .panel-title a span:after,
#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span {
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  width: 36px;
  height: 36px;
  background: #368649;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 740, ../sass/_theme_original.scss */
#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span:after {
  width: 10px;
  height: 1px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

/* line 751, ../sass/_theme_original.scss */
#accordion .panel .panel-title a span:before {
  -webkit-transform: translate(-50%) rotate(90deg);
  transform: translate(-50%) rotate(90deg);
}

/* line 756, ../sass/_theme_original.scss */
#accordion .panel .panel-title a[aria-expanded="true"] span:before {
  -webkit-transform: translate(-50%) rotate(0deg);
  transform: translate(-50%) rotate(0deg);
}

/****
*Blog-area
*****/
/* line 765, ../sass/_theme_original.scss */
.single-blog {
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
}

/* line 773, ../sass/_theme_original.scss */
.single-blog h3 {
  font-size: 18px;
}

/* line 778, ../sass/_theme_original.scss */
.single-blog .blog-meta {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* line 786, ../sass/_theme_original.scss */
.single-blog .blog-meta li {
  display: inline-block;
  margin-right: 15px;
}

/* line 791, ../sass/_theme_original.scss */
.single-blog .blog-meta li span {
  margin-right: 5px;
}

/* line 795, ../sass/_theme_original.scss */
.single-blog .blog-content {
  padding: 40px 20px;
  background-color: #ffffff;
}

/***
*Footer-area
***/
/* line 805, ../sass/_theme_original.scss */
.footer-area {
  padding-top: 120px;
  z-index: 1;
}

/* line 810, ../sass/_theme_original.scss */
.footer-top {
  margin-bottom: 150px;
}

/* line 814, ../sass/_theme_original.scss */
.side-icon-box {
  margin-bottom: 30px;
  position: relative;
  padding-left: 80px;
}

/* line 820, ../sass/_theme_original.scss */
.side-icon-box a {
  color: #ffffff;
}

/* line 824, ../sass/_theme_original.scss */
.side-icon-box .side-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
}

/* line 831, ../sass/_theme_original.scss */
.side-icon-box strong {
  display: block;
  margin-bottom: 10px;
}

/* line 836, ../sass/_theme_original.scss */
.footer-middle {
  margin-bottom: 60px;
}

/* line 840, ../sass/_theme_original.scss */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 25px;
  padding-bottom: 15px;
}

/***
*Contact-form
****/
/* line 850, ../sass/_theme_original.scss */
.contact-form .button {
  letter-spacing: 2px;
  min-width: 150px;
  margin-top: 10px;
  border-radius: 3px;
}

/* line 857, ../sass/_theme_original.scss */
.form-control {
  margin-bottom: 20px;
  height: auto;
  padding: 12px 20px;
}

/* line 863, ../sass/_theme_original.scss */
.form-double input {
  width: calc(50% - 10px);
  float: left;
}

/* line 868, ../sass/_theme_original.scss */
.form-double input:last-child {
  float: right;
}

/*-----------
preloader
------------*/
/* line 876, ../sass/_theme_original.scss */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #75cbe7;
  background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#368649));
  background: linear-gradient(to bottom, #75cbe7 0%, #368649 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#368649', GradientType=0);
  z-index: 99999999999;
}

/* line 889, ../sass/_theme_original.scss */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 902, ../sass/_theme_original.scss */
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 911, ../sass/_theme_original.scss */
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

/* line 925, ../sass/_theme_original.scss */
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

/* line 930, ../sass/_theme_original.scss */
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

/* line 935, ../sass/_theme_original.scss */
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

/* line 940, ../sass/_theme_original.scss */
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

/* line 945, ../sass/_theme_original.scss */
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

/* line 950, ../sass/_theme_original.scss */
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%,
    10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
    75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
    100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%,
    10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
    75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
    100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
/************** prikshat *****************/
/* line 1000, ../sass/_theme_original.scss */
.pri_main h2 {
  color: #22103d;
  text-transform: uppercase;
}

/* line 2, ../sass/_theme_eosmeso.scss */
.testimonial-area1 {
  background: url("../images/parallax-7.jpg") no-repeat scroll center center/cover;
  position: relative;
  color: #ffffff;
}

/* The Modal (background) */
/* line 9, ../sass/_theme_eosmeso.scss */
.modal, .modal1, .modal2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 70px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
/* line 23, ../sass/_theme_eosmeso.scss */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 5px solid #888;
  max-width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  z-index: 9999;
}

/* line 37, ../sass/_theme_eosmeso.scss */
.modal-content img {
  max-width: 100%;
}

/* line 41, ../sass/_theme_eosmeso.scss */
.modal-header {
  padding: 0px !important;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
/* line 65, ../sass/_theme_eosmeso.scss */
.close, .close1, .close2 {
  color: #444;
  float: right;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
}

/* line 72, ../sass/_theme_eosmeso.scss */
.close:hover, .close:focus, .close1:hover, .close1:focus, .close2:hover, .close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* line 77, ../sass/_theme_eosmeso.scss */
.logo {
  max-width: 60%;
}

/* line 79, ../sass/_theme_eosmeso.scss */
.affix .navbar-brand {
  padding: 5px 5px !important;
}

/* line 84, ../sass/_theme_eosmeso.scss */
.affix .navbar-nav > li > a {
  line-height: 8px !important;
}

/* line 88, ../sass/_theme_eosmeso.scss */
.affix .logo {
  max-width: 50%;
}

/* Overwrite bootstrap style */
/* line 9, ../sass/style.scss */
.btn.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:hover, .btn-primary:active:hover {
  background-image: unset;
  background-color: #233E30;
}

/* line 14, ../sass/style.scss */
body {
  font-size: 16px;
}
/* line 18, ../sass/style.scss */
body#homepage header .container {
  padding-top: 5em;
}
/* line 19, ../sass/style.scss */
body#homepage header .jumbotron {
  background: unset;
}
/* line 21, ../sass/style.scss */
body#homepage #pillars {
  background-color: #233E30;
}
