
.testimonial-area1 {
    background: url('../images/parallax-7.jpg') no-repeat scroll center center / cover;
    position: relative;
    color: #ffffff;
}

/* The Modal (background) */
.modal, .modal1, .modal2 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 70px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 5px solid #888;
	max-width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	z-index:9999;
}
.modal-content img {
	max-width: 100%;
}

.modal-header{ padding:0px !important;}

/* Add Animation */
@-webkit-keyframes animatetop {
 from {
top:-300px;
opacity:0
}
to {
	top: 0;
	opacity: 1
}
}
 @keyframes animatetop {
 from {
top:-300px;
opacity:0
}
to {
	top: 0;
	opacity: 1
}
}
/* The Close Button */
.close, .close1, .close2 {
	color: #444;
	float: right;
	font-size: 28px;
	line-height:28px;
	font-weight: bold;
}
.close:hover, .close:focus, .close1:hover, .close1:focus, .close2:hover, .close2:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.logo { max-width:60%;}

.affix .navbar-brand
{
	padding: 5px 5px !important;
}

.affix .navbar-nav > li > a
{
	line-height: 8px !important;
}
.affix .logo {
	max-width:50%;
}
