@import "_theme_original";
@import "_theme_eosmeso";

$mainColor:   #233E30;
$activeColor: #3A8E4C;


/* Overwrite bootstrap style */
.btn.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:hover, .btn-primary:active:hover{
    background-image: unset;
    background-color:  $mainColor;
}

body {
    font-size: 16px;
    &#homepage {
        header {
            .container {padding-top: 5em;}
            .jumbotron  {background: unset;}
        }
        #pillars {background-color: $mainColor;}

    }
}